.footer .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 147px 0 85px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding: 80px 0 30px;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 39px 153px 46px 70px;
        margin: 0;
    }
}

.footer {
    position: relative;
    background-color: #010A20;


    &__copyright {
        text-align: center;
        color: #FFF;
        font-size: 23px;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 0.646px;

        @media screen and (min-width:1200px) {
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 1.55;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 124px;
            width: 100%;
        }

    }

}



.footer-logo {
    display: flex;
    align-items: last baseline;
    justify-content: center;

    &__svg {
        width: 51px;
        height: 51px;
        fill: #FFFFFF;
    }

    &__explore {
        color: #DD2242;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 900;
        line-height: 0.9;
        letter-spacing: 0.315px;
        text-transform: uppercase;
    }

    &__span {
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 900;
        line-height: 0.9;
        letter-spacing: 0.315px;
        text-transform: uppercase;
        width: 128px;
        height: 57px;
        margin-bottom: 51px;

        @media screen and (min-width:1200px) {
            margin: 0;
        }
    }
}

.footer-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:1200px) {
        flex-direction: row;
        justify-content: space-between;
        width: 355px;
        gap: 36px;
    }

    &__item {
        margin-bottom: 36px;

        @media screen and (min-width:1200px) {
            margin: 0;
        }
    }

    &__link {
        color: #FFF;
        font-size: 23px;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 0.637px;

        @media screen and (min-width:1200px) {
            font-size: 18px;
            letter-spacing: 0.5px;
        }
    }
}

.footer-soc {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 36px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    @media screen and (min-width:1200px) {
        margin: 0;
        width: 116px;
        gap: 22px;
    }

    &__svg {
        fill: #FFFF;
        width: 31px;
        height: 31px;

        @media screen and (min-width:1200px) {
            width: 24px;
            height: 24px;
        }
    }
}

.footer-up {

    position: absolute;
    width: 104px;
    height: 104px;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width:1200px) {
        left: auto;
        right: 96px;
    }


}