.gallery {

    &__title {
        width: 615.361px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color:#010A20;
        font-family: 'DM Sans' sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 90px */
        padding-top: 177px;
    }

    &__info {
        color:#6F7787;
        text-align: center;
        font-family: 'DM Sans' sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: 0.18px;
        padding-top: 42px;
    }

}

.gallery-list__item {
    display: flex;
    padding: 71px 272px 229px;

    &__img {
        width: 370px;
        height: 210px;
        padding: 30px 30px;
    }

    &__img2 {
        width: 370px;
        height: 530px;
        padding: 30px 30px;
    }

    &__img3 {
        width: 370px;
        height: 370px;
        padding: 30px 30px;
    }
}
