.hills .inner-container {
    padding: 171px 30px 116px;
    @media screen and (min-width: 1200px) {
        padding: 246px 30px 257px;
    }
}

.hills {
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before  {
        top: 0;
        left: 0;
        width: 330px;
        height: 144px;
        background-image: url("../../images/hills-line1-mobile.png");

        @media screen and (min-width: 1200px) {
        width: 577px;
        height: 820px;
        background-image: url("../../images/hills-line1-desk.png");
        }
    }
    

    &::after {
        bottom: 0;
        right: 0;
        width: 375px;
        height: 220px;
        background-image: url("../../images/hills-line2-mobile.png");

        @media screen and (min-width: 1200px) {
        width: 755px;
        height: 411px;
        background-image: url("../../images/hills-line2-desk.png"); 
        }
    }

    &__title {
        color: #000;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.15;
        margin-bottom: 36px;
    }

    &__info {
        color: #6F7787;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.5px;
        margin-bottom: 41px;
    }

    &__button {
        display: flex;
        width: 314px;
        height: 73px;
        justify-content: center;
        align-items: center;
        border-radius: 122px;
        background-color: #DD2242;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5; 
        margin: 0 auto;
        border: none;
    }

}

