.hills .inner-container {
    padding: 171px 30px 116px;
}

.hills {
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before  {
        top: 0;
        left: 0;
        width: 330px;
        height: 144px;
        background-image: url("../../images/hills-line1-mobile.png");
    }

    &::after {
        bottom: 0;
        right: 0;
        width: 375px;
        height: 220px;
        background-image: url("../../images/hills-line2-mobile.png");
    }

    &__title {
        color: #000;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'DM Sans';
        font-size: 42px;
        font-weight: 700;
        line-height: 1.19;
        padding-bottom: 32px;
    }

    &__info {
        color: var(--Paragraph-Dark, #6F7787);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'DM Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55; /* 155.556% */
        letter-spacing: 0.5px;
        margin-bottom: 36px;
    }

    &__button {
        display: flex;
        width: 314px;
        height: 73px;
        margin: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 122px;
        background: #DD2242;
        color: var(--neutral-white, #FFF);
        font-family: 'DM Sans';
        font-size: 18px;
        font-weight: 700;
        line-height: 150%; /* 27px */
        text-align: center;
        margin: 0 auto;
        border: none;
    }

}

