.numbers .inner-container{
    padding-top: 0;
}
.numbers {
    padding: 61px 30px 71px;
    background-color: rgba(2, 12, 33, 0.9);

    @media screen and (min-width: 1200px) {
        padding: 206px 30px 215px;

    }

    &__title {
        color: #FFF;

        font-size: 40px;
        font-weight: 700;
        text-align: center;
        line-height: 1.15;
        margin: 0 auto 50px;
        width: 175px;

        @media screen and (min-width: 1200px) {
            font-size: 60px;
            line-height: 1.5;
            width: auto;

        }
    }

    &__info {
        color: #E0E0E0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.5px;
        margin-bottom: 75px;

        @media screen and (min-width: 1200px) {
            font-size: 18px;
            line-height: 1.55;
            max-width: 484px;
            margin: 0 auto 73px;
        }
    }
}

.numbers-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__item:nth-child(1) {
        margin-bottom: 90px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }

    }

    &__item:nth-child(2) {
        margin-bottom: 56px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__title {
        color: #DD2242;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.15;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            font-size: 42px;
            line-height: 1.16;
            letter-spacing: 0.386px;
            margin-bottom: 30px;
        }
    }

    &__text {
        color: #E0E0E0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.5px;

        @media screen and (min-width: 1200px) {
            font-size: 18px;
            line-height: 1.55;
            max-width: 377px;
        }

    }
}