.numbers{
    padding: 61px 30px 71px;
    background-color: rgba(2, 12, 33,0.9);
&__title{
color: #FFF;

text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 1.15;
margin:0  auto 50px;
}
}

