.secrets{
    background-image: url(../img/secret-img/secret-background.jpg);
    background-position: center;
}

.secrets .inner-container{
    padding: 44px 0 0;
}

.secrets-title{
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 42px;
        max-width: 314px;
        margin: 0 auto 23px;
    }

.carousel-container {
    width: 196px;
    height: 19px;
    flex-shrink: 0;
}

.carousel-mobile {
    width: 375px;
    height: 2063px;
    flex-shrink: 0;
}
    
.arrow-left {
    width: 14.677px;
    height: 23.906px;
    flex-shrink: 0;
    fill: #020B20;
}

.arrow-right {
    width: 14.677px;
    height: 23.906px;
    flex-shrink: 0;
    fill: #020B20;
}

.carousel-mobile__img {
    width: 196px;
    height: 19px;
    flex-shrink: 0;
}

