.secrets{
    background-image: url(../img/secret-img/secret-background.jpg);
    background-position: center;
}

.secrets .inner-container{
    padding: 44px 0 0;
}

.secrets-title{
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 42px;
        max-width: 314px;
        margin: 0 auto 23px;
    }

    