body {
    font-family: 'Roboto', sans-serif;
}

ul,
h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
button{
    display: block;
}
